[Desktop Entry]
Type=Application
Version=1.0
Name=vsReflector Manager
Comment=Visual Arch Linux mirror manager
Exec=/path/to/vs-reflector-manager
Icon=/path/to/vs-reflector-manager.png
Terminal=false
Categories=System;Settings;GTK;
StartupNotify=true
